<!DOCTYPE html>
<html>
<head>
  <title>Realtime Products</title>
  
  <script src="/socket.io/socket.io.js"></script>
  <script>
    // Conexion
    const socket = io();

    
  </script>
</head>
<body>
  {{{body}}}
</body>
</html>